@{
    ViewData["Title"] = "Login";
}

@model AccountModel

<form method="post" asp-controller="account" asp-action="signin">
    <label>Usuario</label>
    <input type="text" name="username" />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <input type="submit" placeholder="Acceder" />
</form>

@Model.ErrorMessage
