@{

    ViewData["Title"] = "Voluntarios";

}

<!doctype html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <title>Voluntarios</title>
</head>
<body>

    <!-- Cabecera-->
    <header class="masthead text-center text-white my-4">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Se buscan voluntarios</h1>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Contenido sección 1-->
    <section id="scroll">
        <div class="container px-5 text-light">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/img/voluntarios1.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Paseos con perros</h2>
                        <p>Buscamos voluntarios que puedan comprometerse a pasear a los perros una mañana fija a la semana. Que no cancelen porque les haya llamado su amigo para salir a tomar una caña o porque salieron la noche anterior o porque simplemente no les apetece.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contenido sección 2-->
    <section>
        <div class="container px-5 text-light">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/img/voluntarios2.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Horario paseos</h2>
                        <p>Los paseos son de lunes a sábado a las 8 hasta la 13. Se suele pasear mínimo 3 perros, pero a menudo más, por persona. Cada paseo debería ser de mínimo 40 a 50 minutos (siempre que el perro no tenga algún problema físico).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contenido sección 3-->
    <section>
        <div class="container px-5 text-light">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="~/img/voluntarios3.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Bienvenido como voluntario</h2>
                        <p>Si es la eres primera vez que viene como voluntario, nos gustaría tener sus datos. Para ello puede rellenar un formulario en la oficina / recepción. Jóvenes menores de 18 años, sólo podrán pasear con los perros con un permiso escrito de los padres o tutores, y siempre irán acompañados de otro voluntario mayor, nunca solos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>





</body>
</html>