@{
    ViewData["Title"] = "Home Page";

}

<body>

    <main class="adopta mt-3">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase text-white-50">Sé responsable, un animal no es un juguete</h1>
                </div>
            </div>
        </div>
    </main>


    <!-- Cajas -->
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <p>Visitanos</p>
                            </div>
                            <p class="card-text">
                                El primer paso es venir a visitarnos y enamorarte de uno de nuestros peludos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <p>Estudio</p>
                            </div>
                            <p class="card-text">
                                Para asegurarnos de que sois la familia correcta para nuestros amigos,
                                realizaremos un breve estudio con vosotros.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <p>Adopción y seguimiento</p>
                            </div>
                            <p class="card-text">
                                Tras rellenar los formularios y después de entregaros a vuestra nueva mascota
                                al día de todas las vacunas y en perfecto estado de salud, ya podeis disfrutar de vuestro
                                nuevo amigo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

</body>
</html>